.params{
    display:block;
    margin-bottom: 10px;
}
#destinationLabel{
    margin-right: 28px;
}
label{
    margin-right: 10px;
}
#mainForm{
    background-color: rgb(226, 240, 162);
    position: absolute;
    left: 40%;
    padding: 20px;
    border-radius: 5%;
    text-align: center;
}
button[name='logout']{
    border: none;
    background-color: #fff;
    color: black;
}
button[name='logout']:hover{
    color: rgb(119, 129, 79);
    cursor: pointer;
    text-decoration: underline;
}
header{
    width: 99%;
}
table{
    position: absolute;
    top: 40%;
}
.login-logout{
    position: absolute;
    top: 2%;
    right: 5%;
}
a:not([src = 'website_icon.png']){
    margin-top: 10px;
    text-decoration: none;
    color: black;
}
a:not([src = 'website_icon.png']):hover{
    text-decoration: underline;
    color: rgb(119, 129, 79);
}
footer{
    width: 99%;
    position: absolute;
    bottom: 1%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(226, 240, 162);
    border-radius: 10px;
}
input[type='text']{
    background-color: #fff;
    border-radius: 5px;
}
input[type='text']:focus{
    animation: inputBgColorChanging 0.3s ease forwards;
    outline: none;
}
input[type='text']:not(:focus){
    animation: inputClearColor 0.3s ease forwards;
}
@keyframes inputBgColorChanging {
    from{background-color: #fff;}
    to{background-color: rgb(255, 255, 189);}
}
@keyframes inputClearColor {
    from{background-color: rgb(255, 255, 189);}
    to{background-color: #fff;}
}
